# Default ignored files
/../../ejer 1./.idea/shelf/
/../../ejer 1./.idea/workspace.xml
# Ignored default folder with query files
/../../ejer 1./.idea/queries/
# Datasource local storage ignored files
/../../ejer 1./.idea/dataSources/
/../../ejer 1./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../ejer 1./.idea/httpRequests/
